<h2>Twitter botを作成</h2>

<table border="1" cellspacing="0" bordercolor="#000000">
    <tr>
        <th>種別</th>
        <th>ボットのつぶやき方</th>
        <th>内容</th>
        <th>テーマID</th>
        <th>メディアツイート</th>
        <th></th>
    </tr>
    <tr>
        <td>1.通常</td>
        <td>登録テーマ毎</td>
        <td>登録文そのもの</td>
        <td><a href="/theme"><input type="submit" value="登録・変更" /></a></td>
        <td><a href="/media"><input type="submit" value="登録・削除" /></a></td>
        <td><a href="/normal"><input type="submit" value="登録へ" /></a></td>
    </tr>
    <tr>
        <td>2.シャッフル</td>
        <td>テーマ間</td>
        <td>リミックス</td>
        <td></td>
        <td></td>
        <td><a href="/shuffle"><input type="submit" value="登録へ" /></a></td>
    </tr>
</table>


<p><a href='/logout'>ログアウト</a></p>