<h2>Twitter botを作成</h2>
<p><a href="/theme">1.テーマID登録</a></p>
<p><a href="/media">2.(もしあれば）メディアツイート登録へ</a></p>
<p>3.文章をここに記入してください。<br>
ただし、141字以上の文は登録されず、それ以降の文も無視されますのでご注意ください。<br>
また、１テーマごとに、【#テーマ番号】からはじめ、──で終えてください。</p>
<form method="post" action="/new">
    <textarea name="sentence" rows="8" cols="80"></textarea><br>
    <input type="submit" value="登録">
</form>
<p><a href='/logout'>ログアウト</a></p>
<ul>
    <p>ただいまの文章登録数: <%= @sentences.size %></p>
    <% @sentences.each do |body| %>
    <li data-id="<%= body.id %>">
        <%= body.sentence %>
        <span class="deleteCmd" style="cursor:pointer;color:blue">[x]</span>
    </li>
    <% end %>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    $('.deleteCmd').click(function() {
        var el = $(this).parent();
        if (confirm('are you sure to delete?')) {
            $.post('/delete', {
                id: el.data('id')
            }, function() {
                el.fadeOut(800);
            });
        }
    })
</script>
