<h2>Twitter botを作成</h2>
<p><a href="/theme">1.テーマID登録</a></p>
<p><a href="/media">2.(もしあれば）メディアツイート登録へ</a></p>
<p>3.文章をここに記入してください。<br>
ただし、141字以上の文は、文を区切って再登録してください。<br>
また、１テーマごとに、【#テーマ番号】からはじめ、──で終えてください。<br>
登録文章に改行が含まれていると、改行もツイートに反映されます。</p>

<form method="post" action="/new">
    <textarea name="sentence" rows="8" cols="80"></textarea><br>
    <input type="submit" value="登録">
</form>
<p>
<% unless @texts %>
<font color="red">141文字以上の文が含まれています。</font>
<% end %>
</p>
<p><a href='/logout'>ログアウト</a></p>
<ul>
    <p>ただいまのツイート登録数: <%= @tweets.size %></p>
    <% @tweets.each do |tweet| %>
    <li data-id="<%= tweet.sentence_id %>">
        <%= tweet.text %>
        <span class="deleteCmd" style="cursor:pointer;color:blue">[x]</span>
    </li>
    <% end %>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    $('.deleteCmd').click(function() {
        var el = $(this).parent();
        if (confirm('are you sure to delete?')) {
            $.post('/delete', {
                id: el.data('id')
            }, function() {
                el.fadeOut(800);
            });
        }
    })
</script>
