    <h1>SENTENCES</h1>
    <a href="/media">メディアツイート登録へ</a>
    <a href="/theme">テーマID登録へ</a>
    <h2>Add New</h2>
    <form method="post" action="/new">
        <input type="text" name="sentence"> <input type="submit" value="post">
    </form>
    <ul>
        <%= @sentences.size %>
        <% @sentences.each do |body| %>
        <li data-id="<%= body.id %>">
            <%= body.sentence %>
            <span class="deleteCmd" style="cursor:pointer;color:blue">[x]</span>
        </li>
        <% end %>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        $('.deleteCmd').click(function() {
            var el = $(this).parent();
            if (confirm('are you sure to delete?')) {
                $.post('/delete', {
                    id: el.data('id')
                }, function() {
                    el.fadeOut(800);
                });
            }
        })
    </script>
