<h2>ログイン</h2>
<form action="/login" method="post">
    <p>
    <label for="name">ユーザー名</label>
    <input type="text" name="name" />
    </p>
    <p>
    <label for="password">パスワード</label>
    <input type="password" name="password" />
    </p>
    <p>
    <input type="submit" value="ログイン" />
    </p>
</form>