<h2>メディアツイート</h2>
<p>※登録する文言が含まれるツイートをまだ登録していない場合は、エラーになるため、初期画面に戻って、該当ツイートを登録してください。</p>
<p><a href="/">戻る</a></p>
<form method="post" action="/media_new">
    <table>
        <tr>
            <td style="text-align: right">文言</td>
            <td><input type="text" name="with_media"></td>
        </tr>
        <tr>
            <td style="text-align: right">ファイル名</td>
            <td><input type="text" name="media"></td>
        </tr>
    </table>
    <input type="submit" value="登録">
</form>
<br>

<table border="1" cellspacing="0" bordercolor="#000000">
    <tr>
        <th>削除</th>
        <th>文言</th>
        <th>ファイル名</th>
    </tr>
    <% @medias.each do |media| %>
        <tr data-id="<%= media.id %>">
            <td><span class="delete" style="cursor:pointer;color:blue">[x]</span></td>
            <td><%= media.with_media %></td>
            <td><%= media.media %></td>
        </tr>
    <% end %>
</table>

<p><a href="/">戻る</a></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
     $('.delete').click(function() {
        if (confirm('are you sure to delete?')) {
            var el = $(this).parent().parent();
            $.post('/media_delete', {
                id: el.data('id')
            }, function() {
                el.fadeOut(800);
            });
        }
    })
</script>