<table border="1" cellspacing="0" bordercolor="#000000">
    <tr>
        <th>タイトル</th>
        <th>ジャンル</th>
        <th>ページ数</th>
    </tr>
    <% @books_list.as_tree.children.select(&:branch?).map(&:prefix).each do |group| %>
        <tr>
            <th><%= group %></th>
        </tr>
    <% end %>
</table>