<table border="1" cellspacing="0" bordercolor="#000000">
    <tr>
        <th>タイトル</th>
    </tr>
    <% @books_list.contents.each do |title| %>
        <tr>
            <th><%= title %></th>
        </tr>
    <% end %>
</table>