<h2>ユーザー登録</h2>
<form action="/signup" method="post">
    <p>
    <label for="name">ユーザー名</label>
    <input type="text" name="name">
    </p>
    <p>
    <label for="password">パスワード</label>
    <input type="password" name="password">
    </p>
    <p>
    <label for="password_confirmation">パスワード（確認）</label>
    <input type="password" name="password_confirmation">
    </p>
    <p><% if @user.errors.any? %>
    <% @user.errors.each do |k, v| %>
    <%= k == :name ? 'ユーザー名' : 'パスワード' %>
    <%= v  %>
    <br>
    <% end %>
    <% end %>
    </p>
    <p>
    <input type="submit" value="登録">
    </p>
</form>