
<h2>テーマID</h2>
<p>
Box内は最新登録番号です。<br>
公開可否の変更も可能です。
</p>
<form method="post" action="/theme_new">
    <p>
    <input type="text" name="theme_id" class="theme_id" value="<%= @new_theme_id %>">
    <input type="radio" name="open" value="on" checked="checked">公開する
    <input type="radio" name="open" value="off">公開しない
    <input type="submit" value="登録">
    </p>
</form>
<br>
<p>公開テーマ</p>
<select id="theme_id_select">
<% @themes.each do |theme| %>
    <% if theme.open %>
    <option value="<%= theme.theme_id %>"><%= theme.theme_id %> </option>
    <% end %>
<% end %>
</select>

<p><a href="/">戻る</a></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    $('#theme_id_select').on('change', function() {
        var theme_id = $('#theme_id_select option:selected').text();
        $('.theme_id').val(theme_id);
    });
</script>